*{
    border: 0.5px solid salmon;
}


header {
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

main {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.popular-movies{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.recommended {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}


.onerilenler{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}


.play-btn { 
    display: flex;
    flex-direction: row;
    background-color: red;
    color: white;
}
.play-btn1 { 
    display: flex;
    flex-direction: row;
    background-color: red;
    color: white;
}
.maturity-rating {
    border: 1px solid gray;
    color: gray;
    font-size: 70%;
}
