
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}
.logo {
    width: 200px;
}

a {
    color: black;
    text-decoration: none;
}

ul{
    list-style: none;
}
.basrol, .tur, .director {
    color: orangered;
    font-weight: bold;
}

main {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.viewAll {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin-right: 1rem;
    font-weight: bold;
    font-size: 13px;
}
.popular-movies{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align:left;
    padding: 0px;
    margin: 10px;
    
}
.film1, .film2, .film3{
    width: 20rem;
    height: 8em;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    
}

.recommended {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align:left;
    padding: 0px;
    margin: 10px;
}


.play-btn { 
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 40px;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 1.1rem;
    border: none;
}
.play-btn1 { 
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 40px;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 1.1rem;
    border: none;
    margin-top: 10px;
}
.maturity-rating {
    border: 1px solid black;
    color: black;
    font-size: 1rem;
}

.follow img { 
width: 10%;
height: 10%;
}

.ortala {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.gizli {
    visibility: hidden;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    flex: 1;
    
    
}
.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.50;
}
.social-icons {
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    

}
.follow{
    display: flex;
    flex-direction: column;
    justify-content: center;
 

    
}
.apps-section {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    padding: 0;

}
.apps-icons { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 150px;
    height: 150px;
}

